<div class="shop-items">
    <div class="shop-item" (click)="navigateChatbox()">
        <div class="status open">Open</div>
        <div class="shop-details">
            <h3>Reliance</h3>
            <p class="description">Lorem ipsum dolor sit amet, ipsum consectetuer adipiscing elit</p>
        </div>
    </div>
    <div class="shop-item" (click)="navigateChatbox()">
        <div class="status open">Open</div>
        <div class="shop-details">
            <h3>Maan Mark</h3>
            <p class="description">Lorem ipsum dolor sit amet, ipsum consectetuer adipiscing elit</p>
        </div>
    </div>
    <div class="shop-item" (click)="navigateChatbox()">
        <div class="status closed">Closed</div>
        <div class="shop-details">
            <h3>Anachi Kadai</h3>
            <p class="description">Lorem ipsum dolor sit amet, ipsum consectetuer adipiscing elit</p>
        </div>
    </div>
    <div class="shop-item" (click)="navigateChatbox()">
        <div class="status open">Open</div>
        <div class="shop-details">
            <h3>Suganya Stores</h3>
            <p class="description">Lorem ipsum dolor sit amet, ipsum consectetuer adipiscing elit</p>
        </div>
    </div>
</div>